*{
    margin: 0;
}

ul{
    margin-left: 10px;
    background-color: cornflowerblue;
    font-size: 72px;
    line-height: 82px;
}

li{
    background-color: brown;
    color: white;
    font-size: 72px;
    line-height: 82px;
}

a:link{
    color:white;
}

a:visited{
    color: white;
}

a:hover{
    color: grey;
}

a:active{
    color: grey;
}

a{
    text-decoration: none;
    font-size: 72px;
    line-height: 82px;
}

.serif{
    font-family: 'Slabo 27px', serif;
}

.sans-serif{
    font-family: 'Oswald', sans-serif;
}